<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.greycellofp.sampletwitter" >

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".app.SampleTwitterApplication">
        <activity
            android:name=".activities.TweetListActivity"
            android:label="@string/app_name" android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TweetDetailActivity"
            android:label="@string/title_tweet_detail"
            android:parentActivityName=".activities.TweetListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.greycellofp.sampletwitter.TweetListActivity" />
        </activity>

        <meta-data android:name="@string/api_key" android:value="APMD2TSvpKtxrmlFTEXeFg" />
        <meta-data android:name="@string/api_sec" android:value="OdSZaMIP39qwJJVh6pkZrBhMLVqRbmQKVkcv0f0gM" />
        <meta-data android:name="@string/access_token" android:value="326699491-K1OLhUZj6i69YNy21iqBGfvtiSevq1PXIqwgBiuX" />
        <meta-data android:name="@string/access_token_secret" android:value="ZsyFvrZUjNgLrWkNMhIe5zGN9glevC5S2tAtNZmZ5Z5vM"/>
    </application>

</manifest>
